---
openvpn:
  ipredator:
    user:
    pass:
  dns1: 194.132.32.32
  dns2: 46.246.46.246
ipsec:
  psk:
  chap_secrets:
    - username: ios-srv
      type: l2tpd
      secret:
      ip: 10.2.2.50
    - username: ios-ipr
      type: l2tpd
      secret:
      ip: 10.2.2.51
    - username: ios-tor
      type: l2tpd
      secret:
      ip: 10.2.2.52
    - username: mac-srv
      type: l2tpd
      secret:
      ip: 10.2.2.60
    - username: mac-ipr
      type: l2tpd
      secret:
      ip: 10.2.2.61
    - username: mac-tor
      type: l2tpd
      secret:
      ip: 10.2.2.62
